@font-face {
    font-family: "Alibaba PuHuiTi 2.0 55 Regular";
    src: url("AlibabaPuHuiTi-2-55-Regular.eot"); /* IE9 */
    src: url("AlibabaPuHuiTi-2-55-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AlibabaPuHuiTi-2-55-Regular.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("AlibabaPuHuiTi-2-55-Regular.woff") format("woff"), /* chrome, firefox */
    url("AlibabaPuHuiTi-2-55-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AlibabaPuHuiTi-2-55-Regular.svg#Alibaba PuHuiTi 2.0 55 Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


